mat-expansion-panel{
  margin-bottom: 1rem!important;
}

.color-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

  .color-span{
    background-color: rgb(177, 221, 30);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
  }
}

