/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

:root{
  --primary: #3f51b5;
  --accent:#ff4081;
  --white:#fff;
  --light:#3f51b51f;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
