<h1 mat-dialog-title>New Reminder</h1>
<div mat-dialog-content>
  <div class="row align-items-center justify-content-start">

    <!--reminder text-->
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Text</mat-label>
        <input matInput>
      </mat-form-field>
    </div>


    <!--reminder date-->
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Reminder Date</mat-label>
        <input matInput type="datetime-local">
      </mat-form-field>
    </div>


    <!--reminder color-->
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Reminder Color</mat-label>
        <input matInput [ngxMatColorPicker]="picker">
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker></ngx-mat-color-picker>
      </mat-form-field>
    </div>

    <!--reminder city-->


    <!--view city weather-->

  </div>
</div>
<div mat-dialog-actions>
  <button [disabled]="newForm.form.invalid" color="accent" mat-button>Add Reminder</button>
</div>
