.calendar {
  margin: 1rem 0;

  .calendar-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    span{
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  }

  .week-days {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;

    background-color: var(--primary);

    .title {
      font-size: 1.2rem;
      text-align: center;
      color: var(--white);
      padding: .5rem 0;
    }
  }

  .calendar-wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-auto-rows: 100px;

    .calendar-card {

      transition: .2s ease-in-out;

      border: 1px solid #d4d4d4;

      .card-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .date {
        color: var(--dark);
        font-weight: bold;
        font-size: 1.5rem;

        margin-left: 5px;
        margin-top: 5px;
      }

      .reminder-count{
        margin-right: 5px;
        margin-top: 5px;
        padding: 1px;

        color: var(--accent);
        border: .5px solid var(--accent);
        border-radius: 3px;
      }

      &.weekend-card {
        background-color: var(--light);

        .date {
          color: var(--primary);
        }
      }

      &.prev-card{
        opacity: .3;
      }

      &.next-card{
        opacity: .3;
      }

      &.has-reminder{
        cursor: pointer;
        &:hover{
          box-shadow: 0 0 5px 0px #0000007a;

        }
      }

    }

  }
}
