<div class="calendar">

  <div class="row align-items-center justify-content-center">
    <ng-container *ngIf="currentMonthState$ |async as currentMonth">
      <div class="calendar-navigation">
        <button [disabled]="currentMonth.index == 0" (click)="prevMonth()" mat-icon-button aria-label="previous month">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span>{{currentMonth.name}}</span>
        <button [disabled]="currentMonth.index == 11" (click)="nextMonth()" mat-icon-button aria-label="next month">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </ng-container>

    <div class="col-12 py-2">
      <button (click)="openReminderFormDialog()" mat-raised-button color="accent">Add Reminder</button>
    </div>

  </div>

  <div class="week-days">
    <div class="title"><span>Sunday</span></div>
    <div class="title"><span>Monday</span></div>
    <div class="title"><span>Tuesday</span></div>
    <div class="title"><span>Wednesday</span></div>
    <div class="title"><span>Thursday</span></div>
    <div class="title"><span>Friday</span></div>
    <div class="title"><span>Saturday</span></div>
  </div>
  <div class="calendar-wrapper">

    <!--prev month-->
    <ng-container *ngIf="prevMonthSlice$ | async as prevMonthSlice">
      <ng-container *ngIf="prevMonthSlice.day.length > 0">
        <ng-container *ngFor="let day of prevMonthSlice.day">
          <div [ngClass]="{'weekend-card': day.isWeekend,'has-reminder':day.reminders.length > 0}" class="calendar-card prev-card">
            <div class="card-wrapper">
              <span class="date">{{day.date}}</span>
              <span *ngIf="day.reminders.length > 0" class="reminder-count">{{day.reminders.length}}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <!--/ prev month-->

    <!--current month-->
    <ng-container *ngIf="currentMonthState$ | async as currentMonthState">
      <ng-container *ngFor="let day of currentMonthState.day">
        <div [ngClass]="{'weekend-card': day.isWeekend,'has-reminder':day.reminders.length > 0}" class="calendar-card">
          <div class="card-wrapper">
            <span class="date">{{day.date}}</span>
            <span *ngIf="day.reminders.length > 0" class="reminder-count">{{day.reminders.length}}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <!--/ current month-->

    <!--next month-->
    <ng-container *ngIf="nextMonthSlice$ | async as nextMonthSlice">
      <ng-container *ngIf="nextMonthSlice.day.length > 0">
        <ng-container *ngFor="let day of nextMonthSlice.day">
          <div [ngClass]="{'weekend-card': day.isWeekend,'has-reminder':day.reminders.length > 0}" class="calendar-card next-card">
            <div class="card-wrapper">
              <span class="date">{{day.date}}</span>
              <span *ngIf="day.reminders.length > 0" class="reminder-count">{{day.reminders.length}}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <!--/ next month-->

  </div>
</div>
